{% extends "layout.html" %}
{% block content %}
  <h2>Buyer Page</h2>
    {% if 'email' in session %}
        <h2>Here is a list of all availible parking spots</h2>
        <h1>(For the first iteration all parking spots are availible)</h1>
            {% for spot in allspots %}
            <ul>
                <li><span style="padding-left:20px"> {{ spot.address }} | {{ spot.city }} | 
                {{ spot.zipcode }} | {{ spot.ps_size }}</span>
            </ul>
            {% endfor %}
    {% endif %}
{% endblock %}