<!DOCTYPE html>
<html>
    <head>
        <title>PARQ</title>
        <meta name = "viewport" content="width=device-width, initial-scale=1.0">
        <link rel="static/bootstrap.min.css" rel="stylesheet" media="screen">
    </head>
    <body>
    	<div class="container">
        	<h1>Welcome to Parq!</h1>
        	<br>
        	<input class="btn btn-default" type="submit" value="Customer">
        	<input class="btn btn-default" type="submit" value="Renter">
        	<br>
			<p> Click <a href="/logout">here</a> to logout.</p>
        	{% for message in get_flashed_messages() %}
				{{ message }}
			{% endfor %}
        </div>
    </body>
</html>
