<!DOCTYPE html>
<header>
  <div class="container">
    <h1 class="logo">ParQ</h1>
    <strong><nav>
      <ul class="menu">

          <li><a href="{{ url_for('home') }}">Home</a></li>
          <li><a href="{{ url_for('about') }}">About</a></li>
          <li><a href="{{ url_for('message_page') }}">Messages</a></li>
          {% if current_user.is_authenticated %}
          <li><a href="{{ url_for('profile') }}">Profile</a></li>
          <li><a href="{{ url_for('logout') }}">Sign Out</a></li>
          {% else %}
          <li><a href="{{ url_for('signup') }}">Sign Up</a></li>
          <li><a href="{{ url_for('login') }}">Sign In</a></li>
          {% endif %}

      </ul>
    </nav></strong>
  </div>
</header>
<html>
  <head>
    <title>Parq</title>    
    <strong><link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}"></strong>
  </head>
  <body>     
    <div class="container">
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          <ul class=flashes>
          {% for message in messages %}
            {{ message }}
          {% endfor %}
          </ul>
        {% endif %}
      {% endwith %}

      {% block content %}
      {% endblock %}
    </div>
  </body>
</html>