{% extends "layout.html" %}
{% block content %}
  <div class=jumbo style="background-color: rgba(43, 43, 43, 0.7)">
    <h2>Profile<h2>
    <h3>This is {{ name }}'s profile page</h3>
    <center>
  	<a href="{{ url_for('buyer_profile') }}" style="color: white">Buyer</a>
  	<br />
  	<br />
  	<a href="{{ url_for('seller') }}" style="color: white">Seller</a>
  	<br />
  	<br />
  	<a href=" {{ url_for('updateprofile') }}" style="color: white">Update Profile</a>
    </center>
  </div>
{% endblock %}