{% extends "layout.html" %}
 
{% block content %}
      <div class="jumbo" style="background-color: rgba(43, 43, 43, 0.7)">
  	  <h2>This is your parking spot : {{parking_spot.psid}}</h2>
  	  <center><h1> Update Details Here </h1></center>
  	  {% for message in form.address.errors %}
      <div class="flash">{{ message }}</div>
      {% endfor %}
   
      {% for message in form.city.errors %}
      <div class="flash">{{ message }}</div>
      {% endfor %}

      {% for message in form.state.errors %}
      <div class="flash">{{ message }}</div>
      {% endfor %}

      {% for message in form.zipcode.errors %}
      <div class="flash">{{ message }}</div>
      {% endfor %}

      {% for message in form.ps_size.errors %}
      <div class="flash">{{ message }}</div>
      {% endfor %}

      <form style="padding-left: 4em;" action="{{ url_for('update_spot', parking_id=parking_spot.psid) }}" method=post>
      {{ form.csrf_token }}
	  {{ form.hidden_tag() }}
			     
	  {{ form.address.label }}
	  {{ form.address }}
			     
	  {{ form.city.label }}
	  {{ form.city }}
			     
	  {{ form.state.label }}
	  {{ form.state }}
			     
	  {{ form.zipcode.label }}
	  {{ form.zipcode }}

	  {{ form.ps_size.label }}
	  {{ form.ps_size }}
			     
	  {{ form.submit }}

  	  </form>
  </div>
{% endblock %}