{% extends "layout.html" %}
 
{% block content %}
	<div class="jumbo" style="background-color: rgba(43, 43, 43, 0.7)">
	<h2>From : {{ get_user(message.sender_uid) }}</h2>
	<p style="padding-left: 4em;">Message: {{ message.message }}</p>
	{% if form is not none %}
		<form style="padding-left: 4em;" action="{{ url_for('view_message', message_id = message.message_id) }}" method=post>
		{{ form.csrf_token }}
		 {{ form.hidden_tag() }}
		{{ form.submit }}
		</form>
	{% else %}
		<p style="padding-left: 4em;">Request already approved</p>
	{% endif %}
    </div>
{% endblock %}